@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import "tailwindcss";

:root {
    --font-sans: 'Inter', sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --font-mono: 'IBM Plex Mono', monospace;

    --color-white: #ffffffca;
    --color-gray-300: #ccccccca;

    --rotatingtext-bg: #aa79d50a;
    --rotatingtext-border: #86c0f22d;
    --drop-shadow-rt: inset 0 24px 48px 0 #c7d3ea2c;
}

html,
body {
    margin: 0;
    width: 100%;
    min-height: 100vh;
    scroll-behavior: smooth;
}

body {
    background-image: url(../assets/background.webp);
    background-position: top center;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #000;    
}