---
import Footer from "../../../components/Footer.astro";
import Header from "../../../components/Header.astro";
import Layout from "../../../layouts/Layout.astro";
import PrivacyContent from "../../../content/privacy-policy.md";
import "../../../styles/global.css";
import "../../../styles/markdown.css";
---

<Layout
	lang="en"
	title="Privacy policy | Secur0"
	description="The privacy policy of Secur0"
>
	<div class="flex flex-col max-w-[1280px] mx-auto">
		<Header
			baseUrl="/en"
			companiesText="For companies"
			companiesUrl="/en"
			hackersText="For hackers"
			hackersUrl="/en/hackers"
		/>
		<article class="text-white max-w-[900px] mx-auto px-4 sm:px-24">
			<PrivacyContent />
		</article>
		<Footer
			termsText="Terms and conditions"
			termsUrl="/en/legal/terms-and-conditions"
			privacyText="Privacy policy"
			privacyUrl="/en/legal/privacy-policy"
			allRightsReserved="All rights reserved."
		/>
	</div>
</Layout>
