---
import Footer from "../../../components/Footer.astro";
import Header from "../../../components/Header.astro";
import Layout from "../../../layouts/Layout.astro";
import TermsContent from "../../content/terms-and-conditions.md";
import "../../../styles/global.css";
import "../../../styles/markdown.css";
---

<Layout
	lang="en"
	title="Terms and conditions | Secur0"
	description="The terms and conditios of Secur0"
>
	<div class="flex flex-col max-w-[1280px] mx-auto">
		<Header
			baseUrl="/"
			companiesText="Para empresas"
			companiesUrl="/"
			hackersText="Para hackers"
			hackersUrl="/hackers"
		/>
		<article class="text-white max-w-[900px] mx-auto px-4 sm:px-24">
			<TermsContent />
		</article>
		<Footer
			termsText="Términos y condiciones"
			termsUrl="/legal/terms-and-conditions"
			privacyText="Política de privacidad"
			privacyUrl="/legal/privacy-policy"
			allRightsReserved="Todos los derechos reservados."
		/>
	</div>
</Layout>
