---
import Companies from "../components/Companies.astro";
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
import Title from "../components/Title.astro";
import Faq from "../components/Faq.astro";
import Layout from "../layouts/Layout.astro";
import RotatingText from "../components/react/RotatingText.jsx";
import arrowImage from "../assets/arrow.svg";
import { Image } from "astro:assets";
import "../styles/global.css";
import Steps from "../components/Steps.astro";
import Card from "../components/Card.astro";
import Video from "../components/Video.astro";

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout title="Para hackers | Secur0" description="Reporta vulnerabilidades en empresas reales de forma legal y recibe recompensas.">
	<div class="flex flex-col gap-24 max-w-[1280px] mx-auto">
		<section
			class="min-h-[690px] flex flex-col items-center gap-26 sm:gap-24 lg:gap-30"
		>
			<Header />
			<h1
				class="flex flex-col lg:flex-row gap-2 sm:gap-5 items-center text-6xl sm:text-7xl text-white font-light sm:mt-10"
			>
				Hackea con <RotatingText
					client:load
					texts={[
						"responsabilidad",
						"impacto",
						"recompensas",
						"reconocimiento",
						"Secur0",
					]}
					mainClassName="text-5xl sm:text-7xl backdrop-blur-2xl bg-(--card-bg-dark) border-1 border-(--card-border) text-white font-semibold overflow-hidden py-1 sm:py-2.5 px-2 sm:px-4 justify-center rounded-xl"
					staggerFrom={"last"}
					initial={{ y: "100%" }}
					animate={{ y: 0 }}
					exit={{ y: "-120%" }}
					staggerDuration={0.025}
					splitLevelClassName="overflow-hidden pb-0.5 sm:pb-1 md:pb-1"
					transition={{ type: "spring", damping: 30, stiffness: 400 }}
					rotationInterval={2000}
				/>
			</h1>
			<p
				class="text-gray-300 max-w-[350px] sm:max-w-[500px] text-center text-base sm:text-2xl font-light"
			>
				Hackea en entornos reales y obtén recompensas.
			</p>
			<div class="flex flex-row items-center gap-6">
				<a
					href="https://discord.gg/BgxwD23KRS"
					target="_blank"
					class="flex items-center gap-2 px-4 py-2 rounded-full bg-white cursor-pointer"
				>
					Únete <Image src={arrowImage} alt="Arrow right" />
				</a>
				<a
					href="#for-hackers"
					class="flex items-center gap-2 px-4 py-2 rounded-full text-white cursor-pointer"
				>
					Ver más <Image
						src={arrowImage}
						alt="Arrow right"
						class="rotate-90 invert opacity-80"
					/>
				</a>
			</div>
			<Companies />
		</section>
		<Title
			id="for-hackers"
			tag="lo que ofrecemos"
			title="Sabemos que esto te puede gustar"
			description="Tenemos lo mejor de todas las plataformas en una."
		>
			<div class="flex flex-wrap gap-4 w-full text-white max-w-[420px] md:max-w-[700px] lg:max-w-[900px]">
				<Card extras="w-full md:w-[calc(60%-0.5rem)]" title="<strong>Certifica</strong> tus descubrimientos" description="Te daremos un certificado que incluye todas las vulnerabilidades que hayas encontrado para incluir en tu currículum." />
				<Card extras="w-full md:w-[calc(40%-0.5rem)]" title="Gana <strong>dinero</strong>" description="Recibe dinero por cada vulnerabilidad que encuentres en programas de bug bounty." />
				<Card extras="w-full md:w-[calc(40%-0.5rem)]" title="Hackea empresas <strong>legalmente</strong>" description="Prueba tus conocimientos en entornos reales de forma legal." />
				<Card extras="w-full md:w-[calc(60%-0.5rem)]" title="VDPs solo a <strong>organizaciones sin ánimo de lucro</strong>" description="No des tu tiempo a empresas que no pagan. Solo habrá VDPs para ONGs y proyectos 100% open source." />
			</div>
		</Title>
		<Title
			id="our-community"
			tag="nuestra comunidad"
			title="Aprende de los mejores"
			description="Estamos muy enfocados en la formación, aquí podrás aprender de los mejores hackers en español."
		>
			<div class="grid grid-cols-1 md:grid-cols-2 gap-4 w-full text-white max-w-[420px] md:max-w-[700px] lg:max-w-[900px]">
				<Video
					title="Bug Hunting Minimalista: Impacto Máximo con Herramientas Básicas"
					description="En esta charla exploraremos cómo desarrollar una mentalidad estratégica para identificar vulnerabilidades en programas de bug bounty."
					videoId="s9gATBB0kog"
					authorLink="https://www.linkedin.com/in/pedrojosenavasperez/"
					author="Pedro José Navas Pérez"
				/>
				<Video
					title="La ciberseguridad, el hacking y los bug bounties"
					description="En esta charla vamos a ver por qué las empresas pagan por vulnerabilidades, qué diferencia hay entre fallos técnicos y errores de lógica de negocio, y cómo puedes aprovechar esto para mejorar tu enfoque como hacker."
					videoId="Ofr7a_Hc3PQ"
					authorLink="https://www.linkedin.com/in/bberastegui/"
					author="Borja Berastegui"
				/>
			</div>
		</Title>
		<Footer />
	</div>
</Layout>
