---
import Companies from "../components/Companies.astro";
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
import Title from "../components/Title.astro";
import Faq from "../components/Faq.astro";
import Layout from "../layouts/Layout.astro";
import RotatingText from "../components/react/RotatingText.jsx";
import arrowImage from "../assets/arrow.svg";
import { Image } from "astro:assets";
import "../styles/global.css";
import Steps from "../components/Steps.astro";
import Card from "../components/Card.astro";

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout title="Bug bounty para empresas | Secur0" description="Ofrecemos soluciones de ciberseguridad, pentesting y bug bounty para empresas del mercado español.">
	<div class="flex flex-col gap-24 max-w-[1280px] mx-auto">
		<section
			class="min-h-[690px] flex flex-col items-center gap-26 sm:gap-24 lg:gap-30"
		>
			<Header />
			<h1
				class="flex flex-col lg:flex-row gap-2 sm:gap-5 items-center text-6xl sm:text-7xl text-white font-light sm:mt-10"
			>
				Hackea con <RotatingText
					client:load
					texts={[
						"responsabilidad",
						"impacto",
						"recompensas",
						"reconocimiento",
						"Secur0",
					]}
					mainClassName="text-5xl sm:text-7xl backdrop-blur-2xl bg-(--card-bg-dark) border-1 border-(--card-border) text-white font-semibold overflow-hidden py-1 sm:py-2.5 px-2 sm:px-4 justify-center rounded-xl"
					staggerFrom={"last"}
					initial={{ y: "100%" }}
					animate={{ y: 0 }}
					exit={{ y: "-120%" }}
					staggerDuration={0.025}
					splitLevelClassName="overflow-hidden pb-0.5 sm:pb-1 md:pb-1"
					transition={{ type: "spring", damping: 30, stiffness: 400 }}
					rotationInterval={2000}
				/>
			</h1>
			<p
				class="text-gray-300 max-w-[350px] sm:max-w-[500px] text-center text-base sm:text-2xl font-light"
			>
				Accede a una red de hackers éticos y paga solo por
				vulnerabilidad encontrada.
			</p>
			<div class="flex flex-row items-center gap-6">
				<a
					href="mailto:javier@secur0.com"
					class="flex items-center gap-2 px-4 py-2 rounded-full bg-white cursor-pointer"
				>
					Contáctanos <Image src={arrowImage} alt="Arrow right" />
				</a>
				<a
					href="#what-is-secur0"
					class="flex items-center gap-2 px-4 py-2 rounded-full text-white cursor-pointer"
				>
					Ver más <Image
						src={arrowImage}
						alt="Arrow right"
						class="rotate-90 invert opacity-80"
					/>
				</a>
			</div>
			<Companies />
		</section>
		<Title
			id="what-is-secur0"
			tag="lo que nos hace únicos"
			title="Las consultoras no lo hacen bien <span class='text-xs'>(y lo sabes)</span>"
			description="En Secur0 te encontramos vulnerabilidades que una consultora nunca encontraría."
		>
			<div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4 justify-center w-full text-white max-w-[420px] md:max-w-[700px] lg:max-w-[900px]">
				<Card title="Identifica <strong>vulnerabilidades reales</strong>" />
				<Card title="Comunidad de <strong>hackers expertos</strong>" />
				<Card title="Pruebas <strong>continuas</strong>" />
				<Card title="Empieza el servicio en <strong>solo 48h</strong>" />
				<Card title="Paga solo por <strong>vulnerabilidades válidas</strong>" />
				<Card title="Precios <strong>adaptados</strong> al mercado español" />
			</div>
		</Title>
		<section class="flex flex-col items-center gap-2 text-white max-w-[400px] sm:max-w-[500px] md:max-w-[700px] lg:max-w-[900px] mx-auto text-center">
			<h1 class="text-xl font-semibold">¿Seguro que tu último pentesting fue suficiente?</h1>
			<p class="text-gray-300 font-light sm:w-[500px]">
				<strong>Rétanos</strong>: encontramos las vulnerabilidades que otros pasan por alto. Si no hallamos nada nuevo, no pagas. Seguridad real y sin riesgos.
			</p>
			<a
					href="mailto:javier@secur0.com"
					class="flex items-center gap-2 mt-2 px-4 py-2 rounded-full bg-white cursor-pointer text-black"
				>
					Contáctanos
			</a>
		</section>
		<Title
			id="our-services"
			tag="nuestros servicios"
			title="Pasos recomendados"
			description="Estos son los pasos que recomendamos que sigas en el mundo del bug bounty."
		>
			<div class="grid grid-cols-1 md:grid-cols-2 gap-4 w-full text-white max-w-[400px] md:max-w-[700px] lg:max-w-[900px]">
				<Steps title="Crowdsourced pentesting" step="Step 1" description="Usa una red de hackers en vez de dos consultores mal pagados." />
				<Steps title="Bug bounty privado" step="Step 2" description="Selecciona a los mejores hackers para tu programa de bug bounty." />
				<Steps title="Bug bounty público" step="Step 3" description="Haz tu programa de bug bounty público y encuentra más vulnerabilidades." />
				<Steps title="Evento de hacking en vivo" step="Step 4" description="Reúne a los mejores hackers del país con tu propio evento de hacking en vivo." />
			</div>
		</Title>
		<Title
			id="faq"
			tag="faq"
			title="Preguntas frecuentes"
			description=`Si tienes alguna otra pregunta
				<a
					href="mailto:javier@secur0.com"
					class="w-max flex items-center gap-2 mt-2 px-4 py-2 rounded-full bg-white cursor-pointer text-black font-normal"
				>
						Contáctanos
				</a>
			`
		>
			<div class="flex flex-col items-center mx-auto gap-4 max-w-[400px] sm:max-w-[500px] md:max-w-[700px] lg:max-w-[900px]">
				<Faq
					title="¿Por qué Secur0 y no una consultora tradicional?"
					description=`Nosotros encontramos más vulnerabilidades. Como el hacking es un trabajo muy creativo una red de hackers consigue encontrar más vulnerabilidades que un par de auditores.`
				/>
				<Faq
					title="¿Se mantienen confidenciales las vulnerabilidades encontradas por los hackers?"
					description="Tienes las mismas garantías que con cualquier servicio de pentesting. Los hackers firman un acuerdo de confidencialidad y se comprometen a no divulgar la información."
				/>
				<Faq
					title="¿Cumplís los estándares ISO de divulgación de vulnerabilidades?"
					description="Si. Nos adherimos a los estándares ISO 29147 y 30111, relacionados con la divulgación y gestión de vulnerabilidades."
				/>
				<Faq
					title="¿Puedo solicitar un piloto?"
					description="Si. Puedes solicitar un piloto de tiempo limitado donde solo pagarás si encontramos vulnerabilidades. <a class='text-sky-400 underline' href='mailto:javier@secur0.com'>Contacta con nosotros</a>"
				/>
			</div>
		</Title>
		<Footer />
	</div>
</Layout>
