---
import Companies from "../components/Companies.astro";
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
import Title from "../components/Title.astro";
import Layout from "../layouts/Layout.astro";
import RotatingText from "../components/react/RotatingText.jsx";
import arrowImage from "../assets/arrow.svg";
import { Image } from "astro:assets";
import "../styles/global.css";

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout>
	<div class="flex flex-col gap-20 max-w-[1280px] mx-auto">
		<section
			class="h-[calc(100lvh-5rem)] min-h-[848px] flex flex-col items-center gap-30"
		>
			<Header />
			<h1 class="flex max-[950px]:flex-col flex-row gap-2 sm:gap-5 items-center text-5xl sm:text-7xl text-white font-light">
				Hackea con <RotatingText
					client:load
					texts={['responsabilidad', 'impacto', 'recompensas', 'reconocimiento', 'Secur0']}
					mainClassName="backdrop-blur-2xl bg-slate-700 bg-(--rotatingtext-bg) border-1 border-blue-300 border-(--rotatingtext-border) text-white font-semibold overflow-hidden py-1 sm:py-2.5 px-2 sm:px-4 justify-center rounded-lg"
					staggerFrom={"last"}
					initial={{ y: "100%" }}
					animate={{ y: 0 }}
					exit={{ y: "-120%" }}
					staggerDuration={0.025}
					splitLevelClassName="overflow-hidden pb-0.5 sm:pb-1 md:pb-1"
					transition={{ type: "spring", damping: 30, stiffness: 400 }}
					rotationInterval={2000}
				/>
			</h1>
			<p class="text-gray-300 max-w-[500px] text-center text-2xl font-normal">Accede a una red de hackers éticos y paga solo por vulnerabilidad encontrada.</p>
			<div class="flex flex-row items-center gap-6">
				<a
					href="mailto:javier@secur0.com"
					class="flex items-center gap-2 px-4 py-2 rounded-full bg-white cursor-pointer"
				>
					Contact us <Image src={arrowImage} alt="Arrow right" />
				</a>
				<a
					href="#what-is-secur0"
					class="flex items-center gap-2 px-4 py-2 rounded-full text-white cursor-pointer"
				>
					Learn more <Image src={arrowImage} alt="Arrow right" class="rotate-90 invert opacity-80" />
				</a>
			</div>
			<Companies />
		</section>
		<Title
			id="what-is-secur0"
			tag="what is secur0"
			title="The things that make us unique"
			description="The best values out there, all combined into one service."
		>
			content 1
		</Title>
		<Title
			id="our-services"
			tag="our services"
			title="Recommended steps"
			description="These are the recommended steps for new companies on bug bounty."
		>
			content 2
		</Title>
		<Title
			id="faq"
			tag="faq"
			title="Frequently asked questions"
			description="If you have any questions, please <a class='text-sky-400 underline' href='mailto:javier@secur0.com'>contact us</a>."
		>
			content 3
		</Title>
		<Footer />
	</div>
</Layout>
