---
import { Image } from "astro:assets";
import logo from "../assets/logo.svg";
---

<header class="w-full flex flex-row items-center justify-between px-4 sm:px-24 h-[80px]">
    <a href="/" class="flex flex-row items-center gap-3" >
        <Image loading="eager" src={logo} alt="logo" width={24} height={24} class="w-6 h-6" />
        <h1 class="font-[Red_Hat_Mono] select-none uppercase font-bold text-white">
            Secur0
        </h1>
    </a>
    <nav class="flex flex-row items-center gap-4 sm:gap-6">
        <a href="/" class={Astro.url.pathname === "/" ? "text-white font-black" : "text-white font-normal"}>
            Para empresas
        </a>
        <a href="/hackers" class={Astro.url.pathname === "/hackers" || Astro.url.pathname === "/hackers/" ? "text-white font-black" : "text-white font-normal"}>
            Para hackers
        </a>
    </nav>
</header>