---
import { Image } from "astro:assets";
import logo from "../assets/logo.svg";
---

<header class="w-full flex flex-row items-center justify-between px-4 sm:px-24 h-[80px]">
    <span class="flex flex-row items-center gap-3">
        <Image src={logo} alt="logo" class="w-6 h-6" />
        <h1 class="font-[Red_Hat_Mono] select-none uppercase font-bold text-white">
            Secur0
        </h1>
    </span>
    <nav class="flex flex-row items-center gap-4 sm:gap-6">
        <a href="/" class={Astro.url.pathname === "/" ? "text-white font-bold" : "text-white font-normal"}>
            For companies
        </a>
        <a href="/hackers" class={Astro.url.pathname === "/hackers" ? "text-white font-bold" : "text-white font-normal"}>
            For hackers
        </a>
    </nav>
</header>